node_modules/

.mypy_cache/
.pytest_cache/
__pycache__/

.venv/

*.egg-info/

bandit-report.json

__pycache__/
*.pyc

poetry.lock
uv.lock

# Environment files
.env
.env.local
.env.*.local

# Ignore db files
*.db*
*.csv
*.db*
R0801: Similar lines in 2 files*
status --short*/*.sql
.coverage
coverage.xml

# Font files
*.otf
*.ttf
*.ttc
*.woff
*.woff2
